# LaTeX
*.toc
*.aux
*.swp
*.log
*.out
*.pdf
*.py
*.vimrc
*.txt
*.600pk
*.bak
*.synctex.gz

# Images
*.png
*.eps
*.jpg
*.gif
*.tiff

# Archives
*.zip
*.7z
*.tar.gz

**/*/
!*/résumé/

#Mac file to ignore
.DS_Store
